aiohttp==3.6.2
appdirs==1.4.4
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
colorama==0.4.3
cryptography==3.0
decorator==4.4.2
fake-useragent==0.1.11
idna==2.10
multidict==4.7.6
pycparser==2.20
python-dateutil==2.8.1
python-telegram-bot==12.8
six==1.15.0
telegram-send==0.25
tornado==6.0.4
typing-extensions==3.7.4.2
yarl==1.5.1
